.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  @include fade-in;
}

.ring {
  position: absolute;
  width: 150vw;
  height: 150vw;
  @include spin;
}

.ring2Wrapper, .ring2Parallax, .ring2Animate, .cosmos {
  position: absolute;
  width: 30vw;
  height: 30vw;
}

.ring2Wrapper {
  cursor: pointer;
  pointer-events: all !important;
  z-index: 10;
}

.ring2Animate {
  @include spin-reverse;
}

.ring2LinesActive {
  opacity: 0;
  z-index: 20;
}
.ring2LinesActiveHover {
  opacity: 1;
}

.cosmos {
  position: absolute;
  width: 30vw;
  height: 30vw;
  transform: scale(1);
  opacity: 0;
  border-radius: 50%;
  pointer-events: none;
  transition: all $transition-default;
  overflow: hidden;
}

.cosmosHover {
  opacity: 1;
}

.cosmosEntered {
  transform: scale(5);
  opacity: 1;
  transition-duration: 2s;
  pointer-events: none !important;
}