* {
  box-sizing: border-box;
}

:root {
  --main-bg: radial-gradient(#000 0%, #000814 30%, #0f274d 100%);
}

body {
  background: var(--main-bg);
  color: white;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.main-wrapper {
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
}

.loader {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  animation: spin 1s linear infinite;

  &::before {
    content: '';
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    inset: 0;
    animation: prixClipFix 2s linear infinite;
  }
}

.invisible {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
  user-select: none;
}

.entered {
  z-index: 10;
  animation: fade-in 0.7s linear;
}

@include preflight;