@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: radial-gradient(#000 0%, #000814 30%, #0f274d 100%);
}

body {
  background: var(--main-bg);
  color: white;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
}

.loader {
  @apply w-10 h-10 relative animate-[rotate_1s_linear_infinite] rounded-[50%] before:content-[""] before:box-border before:absolute before:border-[$color-white] before:animate-[prixClipFix_2s_linear_infinite] before:rounded-[50%] before:border-2 before:border-solid before:inset-0;
}